In [74]:
# read each line of the file 
# Interval       Transfer     Bandwidth        Jitter   Lost/Total Datagrams
import pandas as pd

# create a dataframe 
df_final = []
with open('serverh3.txt') as file_in:
    for line in file_in:
        list_col = line.split()
        if list_col[0] == '[SUM]':
            # new_df = { 'Transfer': list_col[4], 'Bandwidth': list_col[6], 'Jitter': list_col[8], 'Lost': list_col[10], 'Total': list_col[9], 'Datagrams': list_col[10] }
            # print(list_col)
            # if list_col[0][-1] == '-':
            if len(list_col) == 13:
                new_df =  [float(list_col[4]), float(list_col[6]), float(list_col[8]), float(list_col[10][:-1]), float(list_col[11]), float(list_col[12][1:-2]) ]
            elif len(list_col) == 12:
                new_df = [float(list_col[3]), float(list_col[5]), float(list_col[7]),  float(list_col[9][:-1]), float(list_col[10]), float(list_col[11][1:-2])]
            else:
                continue
            df_final.append(new_df)

In [76]:
import numpy as np
df_final = np.array(df_final)

In [77]:
# convert numpy 2D to dataframe
pd.DataFrame(df_final, columns=['Transfer', 'Bandwidth', 'Jitter', 'Lost', 'Total', 'Datagrams'])

      Transfer  Bandwidth   Jitter    Lost   Total  Datagrams
0       729.00       5.97    0.599    33.0   541.0        6.1
1         1.10       9.26    0.595    49.0   836.0        5.9
2         1.10       9.23    0.620    49.0   834.0        5.9
3         1.10       9.23    0.568    48.0   833.0        5.8
4         1.10       9.22    0.567    45.0   829.0        5.4
...        ...        ...      ...     ...     ...        ...
1110      1.11       9.29    0.502   874.0  1664.0       53.0
1111     12.90     106.00  101.231  2524.0  2533.0      100.0
1112     15.80     129.00   83.424  3148.0  3159.0      100.0
1113      1.11       9.33    0.599   870.0  1663.0       52.0
1114      1.11       9.28    0.559   883.0  1672.0       53.0

[1115 rows x 6 columns]